# Big Mart Sales Investigation


**This is an Analytic Investigation of the Big Mart Sales Dataset, In 2013 Big Mart Data Scientists collected sales data for 1559 different products, from 10 different st and their attributes (12 Variables). The Dataset is used to find out the sales of a particular product at a particular store.**

In this Investigation we will try to find realtionships between each item\`s attributes and it\`s sales. Exploring the data and Visualizing our findings to better understand the datasets secrets. 

### Content :
<ul>
<li><a href="#intro">Introducing the Data</a></li>
<li><a href="#wrangling">Data Wrangling & Cleaning</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introducing The Data

The dataset contains 8523 records of different 1559 product and 12 attributes for each product.
#### Data Attrbutes 
- ***Item_Identifier***: It is a unique product ID assigned to every distinct item. It consists of an alphanumeric string of length 5.
- ***Item_Weight***: This field includes the wieght of the product.
- ***Item_Fat_Content***: This attribute is categorical and describes whether the product is low fat or not. There are 2 categories of this attribute: `['Low Fat', 'Regular']`. However, it is important to note that 'Low Fat' has also been written as 'low fat' and 'LF' in dataset, whereas, 'Regular' has been referred as 'reg' as well.
- ***Item_Visibility***: This field mentions the percentage of total display area of all products in a store allocated to the particular product.
- ***Item_Type***: This is a categorical attribute and describes the food category to which the item belongs. There are 16 different categories listed as follows: `['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables', 'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods', 'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned', 'Breads', 'Starchy Foods', 'Others', 'Seafood']`. 
- ***Item_MRP***: This is the Maximum Retail Price (list price) of the product.
- ***Outlet_Identifier***: It is a unique store ID assigned. It consists of an alphanumeric string of length 6.
- ***Outlet_Establishment_Year***: This attribute mentions the year in which store was established.
- ***Outlet_Size***: The attribute tells the size of the store in terms of ground area covered. It is a categorical value and described in 3 categories: `['High', 'Medium', 'Small']`.
- ***Outlet_Location_Type***: This field has categorical data and tells about the size of the city in which the store is located through 3 categories: `['Tier 1', 'Tier 2', 'Tier 3']`.
- ***Outlet_Type***: This field contains categorical value and tells whether the outlet is just a grocery store or some sort of supermarket. Following are the 4 categories in which the data is divided: `['Supermarket Type1', 'Supermarket Type2', 'Grocery Store','Supermarket Type3']`.
- ***Item_Outlet_Sales***: This is the outcome variable to be predicted. It contains the sales of the product in the particulat store.

In [37]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import re 

%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling & Cleaning

Diving into the data\`s analytics and extracring first insights.

    The price of light is less than the cost of darkness.
    Arthur C. Nielsen, Market Researcher & Founder of ACNielsen

In [38]:
df = pd.read_csv("train.csv")
df.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [40]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [41]:
# Extracting Unique values in Categorical Columns 
cols = df.columns

# Collecting Categorical Data
cols = np.r_[[cols[0]], [cols[2]], [cols[4]], [cols[6]], cols[8: 11]]

for i in cols:
    print(f'{i} has {df[i].unique()}, {df[i].nunique()} Unique values \n')

Item_Identifier has ['FDA15' 'DRC01' 'FDN15' ... 'NCF55' 'NCW30' 'NCW05'], 1559 Unique values

Item_Fat_Content has ['Low Fat' 'Regular' 'low fat' 'LF' 'reg'], 5 Unique values

Item_Type has ['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood'], 16 Unique values

Outlet_Identifier has ['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019'], 10 Unique values

Outlet_Size has ['Medium' nan 'High' 'Small'], 3 Unique values

Outlet_Location_Type has ['Tier 1' 'Tier 3' 'Tier 2'], 3 Unique values

Outlet_Type has ['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3'], 4 Unique values

In [42]:
# Finding missing values in each column
for i in df.columns:
    missing = df[i].isnull().sum()
    if missing >0:
        print(f"Column {i} has : {missing} missing values \n")

Column Item_Weight has : 1463 missing values

Column Outlet_Size has : 2410 missing values

#### First Insights of the data :

1. **Missing Values**:
    Invetigation confirms `Outlet_Size` and `Item_Weight` has missing values which needs imputing.
2. **Typos**: 
    `Item_Fat_Content` has miss typed or repeated values like 'low fat', 'LF' and 'Low Fat'.
3. `Item_Visibility` has a minimum value of 0.0, this is impractical as since the item is in store it can not be invisible.
4. `Outlet_Establishment_Year` could be replaced with the particular outlet *Age* which is a better representation.
5. Not all Items has a Fat Content some items are of types like Household or Health and Hygiene which do not contain Fat at all.

## Data Cleaning

     “Errors using inadequate data are much less than those using no data at all.” – Charles Babbage
We will start cleaning each problem in the data step by step and then dive into revealing the answers to the questions we proposed.

### 1. Fixing Typos

In [43]:
# Fix Typos in Item_Fat_Content
df.Item_Fat_Content = df.Item_Fat_Content.str.lower()
replaced = {'lf': 'low fat', 'reg':'regular'}

df.replace(replaced, inplace=True)

In [44]:
# Check
df.Item_Fat_Content.unique()

array(['low fat', 'regular'], dtype=object)

### 2. Imputation

In [45]:
# Fill missing values in Item_Weight with the mean 
df.Item_Weight.fillna(df.Item_Weight.mean, inplace=True)

# Check
df.Item_Weight.isnull().sum()

0

In [59]:
# Fill missing Values in Outlet_size with the mode 
df.Outlet_Size.fillna(df.Outlet_Size.mode()[0], inplace=True)

# Check
df.Outlet_Size.isnull().sum()

0

### 3. Visibility

In [ ]:
# Get items with visibility 0
df.query("")

### Data Visualizations

In [62]:
item_cols = [col for col in df.columns if re.findall('\AItem', col)]
item_cols

['Item_Identifier',
 'Item_Weight',
 'Item_Fat_Content',
 'Item_Visibility',
 'Item_Type',
 'Item_MRP',
 'Item_Outlet_Sales']

In [64]:
len(item_cols)

7

In [ ]:
for i in range(0, 3):
    for j in range(0, 3):
        fig, ax = plt.subplots((3, 3), figsize=(10, 7))
        
        ax.scatter()